
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Rock+Salt&display=swap');

body, html {

    font-family: 'Alegreya Sans SC', sans-serif;
}
button {
    background-color: #4CAF50;
    display: grid;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 16px;
    margin: 17px 4px;
    cursor: pointer;
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.navbar-brand {
    font-size: 36px;
}

#login {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 70%;
    
}
#signup {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       
}
.navbar {
    font-family: 'Rock Salt', cursive;
    border: 2px solid black;
}
img {
    width: 115%;
}

h2 {
    text-align: center;
    border: 1px solid black;
    padding: 2%;
    color: cornsilk;
    font-weight: bold;
    text-align: center;
    
}