/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= /
         Section A.1. - Root Page css config
/ -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Rock+Salt&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #404040;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    background: #FFFFFF;
    background: -moz-linear-gradient(left, #FFFFFF 0%, #9BEFE9 38%, #60D2D5 100%);
    background: -webkit-linear-gradient(left, #FFFFFF 0%, #9BEFE9 38%, #60D2D5 100%);
    background: linear-gradient(to right, #FFFFFF 0%, #9BEFE9 38%, #60D2D5 100%);
}


html {

    box-sizing: border-box;

}

nav {
    padding: 0px;
    margin: 0px;
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= /
         Section A.1. - Root Button css config
/ -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

button {
    background-color: #4CAF50;
    display: grid;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 15px;
    font-size: 16px;
    margin: 17px 4px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

button {
    padding: 15px 100px;
    margin: 10px 4px;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;

}

button::before {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #6098FF;
    display: block;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}

button:hover::before {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= /
        Section C.1. - Login button 
/ -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

#login {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 60%;

}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= /
         Section C.2. - "Sign-Up" Button config
/ -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

#signup {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.navbar {
    margin-top: 35px;
    font-family: 'Rock Salt', cursive;
    border: 2px solid black;
}

#logoImg {
    width: 63%;
}

#topNav {

    margin-top: -3%;
}

#lin1 {
    margin-top: -200px;
}

h2 {
    text-align: center;
    border: 1px solid black;
    padding: 2%;
    color: cornsilk;
    font-weight: bold;
    text-align: center;

}

#category {
    padding-right: -20px;

}

#learn {
    color: black;
}
#category-list {
    padding-right: -20px;
    padding: 0px;
}

.weather-container {
    margin-top: 117px;
    background-color: lightgray;
    padding: 15px;
    text-align: center;
    ;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= /
         BELOW ARE THE STYLES FOR THE MAP
/ -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
}

a {
    color: #404040;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: #101010;
}

.sidebar {
    position: absolute;
    width: 33.3333%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.pad2 {
    padding: 20px;
}

.map {
    position: absolute;
    left: 33.3333%;
    width: 66.6666%;
    top: 0;
    bottom: 0;
    padding-right: 20px;
}

.heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
}

.listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
}

.listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
}

.listings .item:last-child {
    border-bottom: none;
}

.listings .item .title {
    text-align: left;
    display: block;
    color: #60d2d5;
    font-weight: 700;
}

.listings .item .title small {
    font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
    color: teal;
}

.listings .item.active {
    background-color: #f8f8f8;
}

div.container-fluid.bg-info {
    margin-top: 20px;
}

div.col-md-12.filter-title {
    color: white;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #60d2d5;
    border-radius: 0;
}

.clearfix {
    display: block;
}

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    width: 180px;
}

.mapboxgl-popup-content-wrapper {
    padding: 1%;
}

.mapboxgl-popup-content h3 {
    background: #60d2d5;
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
    font-size: 1.10rem
}

.mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    padding: 10px;
    font-weight: 400;
    font-size: 1.0rem
}

.mapboxgl-popup-content div {
    padding: 10px;
}

.mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
    border-bottom-color: #60d2d5;
}

.mapboxgl-popup {
    padding-bottom: 50px;
}

.marker {
    border: none;
    cursor: pointer;
    height: 56px;
    width: 56px;
    background-image: url(../images/marker.png);
    background-color: rgba(0, 0, 0, 0);
}

.row-height {
    height: 500px;
    margin: 10px;
    /* background-color: green; */
}

.form-group {
    float: none;
    padding-right: -20px;
}

.container {
    margin-top: 20px;
}

#submit-filter {
    margin-top: -40px;
    margin-bottom: 52px;

}

.filter-title {
    font-size: 24px;
    padding: 20px;
}

#start-date {
    margin-left: 0%;
}

#category-list.custom-select {
    padding-left: 12px;
}

ul.text-white {
    padding-left: 15px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= /
       Video / .mp4 File
/ -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

#vid {
    margin-top: -198px;
    margin-left: 3px;

}

#totalBody {
    margin-top: -427px;
}

#whatTop {
    margin-top: 55px;
}
/* 
#vidDiv {
    padding-bottom: -4000px;
} */

/* ======= Links ======= */

a {
    color: whitesmoke;
}

#table-margin {
    margin-top: -11px;
    margin-bottom: -16px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= /
       Footer-Button 
/ -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.btn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.btn {
    top: 40px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase !important;
    letter-spacing: 2px;
    color: #fff;
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    position: relative;
    overflow: hidden !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent !important;
    z-index: 10;
    margin-bottom: 75px;
}

.btn:hover {
    border: 1px solid #071982;
    color: #0dd3c2 !important;
}

.btn::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #404040;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.btn::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #80ffd3;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.btn:hover::before,
#signup:hover::before {
    opacity: 1;
    width: 116%;
}

.btn:hover::after,
#signup:hover::after {
    opacity: 1;
    width: 120%;
}
